.colorDetail-container{
    width: 45%;
}

.colorDetail-info--container{
    padding: 0.2rem 1rem;
}

.confirm-button{
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 720px){
    .colorDetail-container{
        padding-top: 1rem;
        width: 100%;
    }
}